@import url('https://fonts.googleapis.com/css?family=Special+Elite');


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #DCDCDC;
    
}

/*HEADER*/
nav {
    background-color: #FFCC00;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 140px;
    box-shadow: 5px 4px 5px gray;

}

a{
  color: #959595;;
  font-family: calibri;
  font-size: 10.5pt;
  text-decoration: none;


}

#formulario{
  font-family: arial;
  color: black;
}

.inputform{
border-radius:2px;
-webkit-box-shadow: 3px 6px 5px 2px rgba(92,91,92,1);
-moz-box-shadow: 3px 6px 5px 2px rgba(92,91,92,1);
box-shadow: 3px 6px 5px 2px rgba(92,91,92,1);
font-size: 9pt;
}

#h2login{

}

#divlogin{
  margin-left: -100px;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.25;
  color: #444;
  font-family: calibri;
}


.style1 {
color: #FF0000;
font-size: x-small;
}

.style3 {
    color: #0000FF; font-size: x-small; 
}


#lifooter:hover{
  text-decoration: none;
  color: #fff;
  transition: .4s ease;
  
}
#FormEntrar{
 position: relative;
 left : 1030px;
 top: -45px;
 margin-top: 20px;
}

#redessociais:hover{
    transition: color .2s;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: initial;
    transition-delay: initial;
    color: #3b3b3b;
}

.filtro:hover{

    filter:opacity(0.2);
    -moz-filter:opacity(0.2);
    -ms-filter:opacity(0.2);
    -o-filter:opacity(0.2);
    -webkit-filter:opacity(0.2);
}

#user{
  width: 40px;
  height: 40px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70em;
    color: #a0a0a0;
    
}

#tamlupa {
  width: 30px;
  height: 30px;
  margin-left: 0px;
  margin-top: 8px;

}
#botaoinput{
  width: 142px;
  height: 52px;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 1.4px;
  background:#22b14c;
  color: #fff;
  font-family: arial;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 5px;
  display: block;
  float: right;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.08);
  border: none;
}

#inputcabecalho{
  width: 600px;
  border:0;
  font-size: 25px; 
}

#divcabecalho {
  
  margin-left: 180px;
  margin-top: 20px;
  height: 55px;
  background-color: white;
  border-radius: 3px;
}

nav .container {
    position: fixed;
    margin-left: 60px;
    font-family: arial;
}

nav .logo {
    position: absolute;
    z-index: 2; 
    margin-top: -10px;
}

.nav-left{
    padding: 0;
}

nav .nav-wrap { /*bagulho*/
    position: fixed;
    margin-top: -10px;
    width: auto;
} 

nav ul, nav ul li { /* seletor pregado*/
    display: block;
    float: left;
}

li a{
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 15px;
}

li a:hover{
    text-decoration: underline;
    
}

#menu { 
  margin:0; 
  padding:0; 
  list-style:none; 
}
#menu li { 
  float:left; 
  width:150px; 
  position:relative; 
}
#menu li a {
 background:#FFCC00; 
 color:#404040; 
 display:block; 
 padding:7px 8px; 
 text-decoration:none; 
 
}


/*=== sub menu ===*/
#menu ul {
 display:none; 
 position:absolute; 
 left:0; 
 list-style:none; 
 padding:0; 
 background-color: white;
}
#menu ul li {
 width:150px; 
 float:left; 


} 
#menu ul a { 
  display:block; 
  height:25px; 
  padding:7px 8px; 
  color:black; 
  text-decoration:none; 
  background-color: white;
  
}
#menu ul a:hover { 
  color:gray;
}

#tamlogo {
  width: 120px;
  height: 120px;
  margin-left: 0px;
}

/*CONTEUDO INDEX*/

#context {
    width: 100%;
    margin-top: 5%;
    position: relative;
}

#text-context{
    margin-top: 20%;
    text-align: center;
    font-size: 15pt;
    font-family: times;
}

/*DIV´S*/

#textoprincipal{
  margin-top: 180px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.25;
  color: #444;
  font-family: calibri;
}

#imgvetor{
  width: 100px;
  height: 200px;
  margin-top: -100px;
  margin-left: -150px;
}

#hramarelo{
  width: 60px;
  margin-left: 0px;
  color: yellow;
  margin-top: -10px;

}

#h1inicial{
  font-size: 40pt;
  margin-left: 200px;
  color: black;
}

#p1doh1{
  font-size: 10pt;
  margin-left: 80px;
}

#p2doh1{
  font-size: 20pt;
  margin-left: 80px;
  margin-top: -100px;
}

#div1{
  width: 200px;
  height: 355px;
  background-color: ;
  margin-left: 900px;
  margin-top: 80px;
  background-color: white;
  border-radius: 6px;
}

#div2{
  width: 200px;
  height: 355px;
  background-color: ;  
  margin-left: 600px;
  margin-top: -370px;
  background-color: white;
  border-radius: 6px;
}

#div3{
  width: 200px;
  height: 355px;
  background-color: ;
  margin-left: 300px;
  margin-top: -370px;
  background-color: white;
  border-radius: 6px;
}

#div4{
  width: 200px;
  height: 355px;
  background-color: ;
  margin-top: -370px;
  background-color: white;
  border-radius: 6px;
}

/*INDEX*/

#Geladeira1{
  width: 100px;
  height: 170px;
  margin-left: 50px;
}

#Celularindex{
  width: 150px;
  height: 160px;
  margin-left: 20px;
}

#tvindex{
  width: 150px;
  height: 160px;
  margin-left: 25px;
}

#notebookindex{
  width: 150px;
  height: 160px;
  margin-left: 20px;
}


/*H2 - Confira tambem*/

#h2prebanner{
  font-size: 20pt;
  font-family: arial;
  color: #444;
  margin-left: 30px;

}

#vejamaisofertas{
  font-size: 10pt;
  color: yellow;
}

/*Banner*/ 

.mosaic{
    margin: 20px 0;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

/*.smal-4{
  width: 33.33333%;
}*/

#imgeletro{
  margin-left: 80px;
}

#imgcamisas{
  width: 400px;
  height: 600px;
  margin-left: 70px;
}
#agaR{
  width: 180px;
}

#paragrafosdiv{
  font-family: arial;
  margin-left: 15px;
}

#buttonForm{
    width: 130px;
    display: block;
    border: none;
    text-align: center;
    padding: 0 10px;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: arial;
    padding-right: 35px;
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
    color: #fff;
    transition: .4s;
    background: url(https://imagebuscape-a.akamaihd.net/material/pu/arrow-go-to-store-new.svg) no-repeat 90% 45% #22b14c;
    background-size: 8%;
    margin-left: 30px;

}

#linkloja{
  text-decoration: none;
  color: #fff;
}
.info{
 font-family: calibri;
 font-size:10pt;
 padding: 30px;
}
.divrodape{
  background-color: #69696969;
  padding: 20pt;

}

 ul {
list-style-type: none;
}

td h3 {
  color: white;
}
.tab-rodape{
  width: 20%;

}

 {
  text-decoration: none;
}

li {
margin-bottom: 10px;
font-family:calibri;
font-size: 11pt;
color: #a0a0a0;
}

/*FOOTER */
footer {
    background-color:#252525;
    position: absolute;
    margin-top: 30px;
    width:100%;
    height: auto;
    left: 0;
}

#logo-footer{
    max-height: 80px;
    padding-top: 10px;
}

footer p{
    text-align: center;
}

/* jogos */
.banner{
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 550px;
    left:0;
    text-align: left;
    color: #fff;
    padding-left: 10px;
    font-family: times;
}

#img-banner{
    background: url(../img/transistor/Header-bg.jpg) no-repeat fixed;
}

#img-banner1{
    background: url(../img/horizon/banner.jpg) no-repeat fixed;
}

#img-banner2{
    background: url(../img/project/banner.jpg) no-repeat fixed;
}

#img-banner3{
    background: url(../img/sniper/banner.jpg) no-repeat fixed;
}

#img-banner8{
    background: url(../img/contatos/banner.jpg) no-repeat fixed;
}

#banner-logo{
    max-height: 100px;
    margin-top: 12%;
    margin-left: 85%;
    position: relative;
}

.historia{
    padding-top: 45%;
    text-align: justify;
}

.historia h4, .historia p{
    font-family: times;
    font-size: 15pt;
}

.imagem-historia{
    max-height: 350px;
    box-shadow: 3px 3px 10px 5px #000;
}

.imagem-historia:hover{
    zoom: 1.5;
}

.rodape img{
    max-height: 80px;
}

progress{
    width: 400px;
    height: 40px;
}

/* style do mapa*/

#map {
  height: 300px;
  width: 100%;
  
}
/*imagem formulário*/
.img-formulario{
      width: 70px;
      height: 70px;
    }

    /*Slide show*/

    *{
      margin: 0;
      padding: 0;
  }
  
  
  
  .slides{
      margin-left: 300px;
  }
  
  .slides ul li{
      list-style-type: none;
  }
  .slides img{
  	width: 750px;
  	height: 500px;
  }